@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

/* .ab-container {
  display: grid;
  grid-template-columns: 230px 2px 230px 2px 230px 2px 230px;
  grid-gap: 12px;
  justify-content: left;
  align-items: center;
  font-family: 'Montserrat';
  overflow-x: auto;
  white-space: wrap;
  width: 100%;
} */
.ab-container{
  flex-grow:4;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about--banner--container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about--banner--container a{
  padding: 0;
  display:block;
  color: #0f33ff;
  margin-bottom: 250px;
  align-self: center;
}
.next:hover{
  transform: scale(1.5);
}
.prev:hover{
  transform: scale(1.5);
}

.ab-card {
  height: 37rem;
  display: inline-flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index:1000;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
} 
.slider--item{
  display:block;
}
.ab-divider {
  background-color: #222831; 
  width: 1px; 
  height: 250px;
  position: relative;
  bottom: 100px;
}

.ab-card__name {
  /* margin-top: 15px; */
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
}

.ab-card .ab-card__image {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 30px;
  box-shadow: 0 5px 40px #0f33ff;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ab-card .ab-social-icons {
  padding: 0;
  list-style: none;
  /* margin-left: auto; */
  margin-top: 1em;
}

.ab-card .ab-social-icons li {
  display: inline-block;
  position: relative;
  font-size: 1.4em;
  margin-right: 0.5em;
}

.ab-card .ab-social-icons i {
  color: #fff;
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  transition: all 265ms ease-out;
}

.ab-social-icons a {
  display: inline-block;
}

.ab-social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  background-color: #0f33ff;
  transition: all 265ms ease-out;
}

.ab-social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.ab-social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #0f33ff;
  background-color: #0f33ff;
  /* background: -webkit-linear-gradient(45deg, #ff003c, #c648c8); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media only screen and (max-width: 600px){
  .about{
    margin-top:130px;
  }
  .ab-container{
    flex-direction: column;
  }
  .ab-card__name{
    font-size: 1.1em;
  }
  .ab-card .ab-card__image {
    width: 160px;
    height:160px;
  }
}